body{
  background-color: bisque;
}

.card{
  background-color: rgb(247, 239, 239);
  border: 1px solid black;
  padding: 1em;
  margin: .5em;
  box-shadow: 2px 0 8px rgba(0,0,0,.3);
  border-radius: 1%;
}

.card2{
  background-color: rgb(247, 239, 239);
  border: 1px solid black;
  padding: 1em;
  box-shadow: 2px 0 8px rgba(0,0,0,.3);
  border-radius: 1%;
}